m4/
*.o
*~
Makefile
Makefile.in
configure
config.*
.*
!.gitignore
*.m4
autom4te.cache/
build/
depcomp
install-sh
missing
ABOUT-NLS
*.so
*.a
*.la
*~
stamp-h1
*.make
src/googleproxy
docs/*/
readme.*
/static-lib32
resource.zip
src/http_server/sym_404.h
build*/
*test.*
*.spec
*.tar.gz
*.tar.bz2
i386/
*tags
*.rpm
libtool
ltmain*


